body {
    margin: 0;
    padding: 0;
    background: url('/assets/images/background.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    position: relative;
}

.navbar {
    border-bottom: 3px solid #cccccc;
    background-color: #ffffff;
    width: 100%;
    padding: 0;
}

.container {
    max-width: 960px;
    padding: 0;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: white;
    padding: 24px;
    font-size: 30px;
    font-weight: bold;
}

.navbar-brand:hover {
    color: white;
}

.navbar-nav a {
    color: #777777;
}

.link-divider   {
    padding-left: 12px;
}

.fas fa-bars{
    padding: 0;
}

#about-me {
    margin-top: 125px;
}

.jumbotron{
    background-color: #ffffff;
    width: 960px;
    margin: 30px auto 60px auto;
    border: #dddddd solid 2px;
    position: relative;
}

.content-title {
    padding: 15px 0;
    color: #4aaaa5;
    font-size: 20px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
  }
 
  hr {
    border-top: 1.5px solid #dddddd;
  }
  
.img-me {
    width: 150px;
    padding-right: 30px;
    float: left;
    margin-top: 10px;
}

.about-me-info p {
    line-height: 1.7;
    font-size: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
  }

/* Portfolio Section */
#portfolio-content {
    background-color: white;
    min-height: 950px;
    max-width: 960px;
    margin: 125px auto 200px auto;
    border: #dddddd solid 2px;
}

#portfolio-container {
    padding: 50px;
}

.grid-content {
    width: 80%;
    margin-left: 12px;
  }

.img-content img {
    width: 300px;
}

